/* Base Style */

* {
  margin: 0px;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --transparentblue: #090e388c;
  --lightblue: #39d4f0;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
  --text: #81afdd;
  --subtext: #ff8a71;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-text3: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffb979 50%,
    #fff514 100%
  );
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  margin: 0px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.5rem;
}

/* Navbar Style */

.navbar-container {
  background-color: var(--transparentblue);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
}

.navbar-items {
  width: 100%;
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar-items > li {
  flex: 1;
  text-align: center;
}

.navbar-items > div > img {
  width: 64px;
  height: 64px;
  margin: 0rem 2rem;
}

.navbar-items > li:hover {
  background-color: var(--lightblue);
}

.navbar-items > li:hover > a {
  color: black;
}

.navbar-items > li > a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: var(--white);
}

/* Landing Page Style */

.home_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("images/moon2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.home_text {
  margin-left: 2rem;
  margin-bottom: 15%;
  max-width: 700px;
}

.home_text > * {
  width: fit-content;
}

.home_text > h1 {
  margin-bottom: 1rem;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_text > h2 {
  margin-bottom: 2rem;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_text > p {
  color: var(--white);
}

/* Who Am I Style */

.wai_section {
  display: flex;
  justify-content: space-around;
  background-image: url("images/topMtStHelens-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/* Qualifications Style */

.qual-section {
  background-color: #53baff;
}
.qual-section > h2 {
  margin: 0 8rem;
  padding: 8rem 0 2rem 0;
}

.qual-edu-section > *,
.qual-exp-section > * {
  margin: 0 16rem;
}
.qual-edu-section > h3,
.qual-exp-section > h3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.qual-edu-section > p,
.qual-exp-section > p {
  padding-bottom: 1rem;
}

.qual-edu-psu {
  background: #154734;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.qual-edu-psu > p,
.qual-edu-psu > h4,
.qual-edu-uw > p,
.qual-edu-uw > h4 {
  color: white;
}

.qual-edu-uw {
  background: linear-gradient(90deg, #4b2e83, #85754d, #b7a57a);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.qual-res {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qual-res-btn > a {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border: 0.1em solid black;
  border-radius: 0.15em;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.qual-res-btn > a:hover {
  background-color: white;
}

/* Projects Style */

.proj-section {
  background-color: #53baffbd;
}

/* Contact Me Style */

.contact-section {
  background-color: #53baff79;
}
