/* Base Style */

* {
  margin: 0px;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --transparentblue: #090e388c;
  --lightblue: #39d4f0;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
  --text: #81afdd;
  --subtext: #ff8a71;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-text3: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffb979 50%,
    #fff514 100%
  );
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  margin: 0px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.5rem;
}

form {
  max-width: 1000px;
}

hr {
  padding-top: 4rem;
  border-top: none;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  margin: 0 16rem;
}

/* Navbar Style */

.navbar-container {
  background-color: var(--transparentblue);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
}

.navbar-items {
  width: 100%;
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar-items > li {
  flex: 1;
  text-align: center;
}

.navbar-items > div > img {
  width: 64px;
  height: 64px;
  margin: 0rem 2rem;
}

.navbar-items > li:hover {
  background-color: var(--lightblue);
}

.navbar-items > li:hover > a {
  color: black;
}

.navbar-items > li > a {
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .navbar-items > div > img {
    width: 0px;
    height: 0px;
    margin: 0rem;
  }

  .navbar-items > li > a {
    padding: 0.5rem;
  }
}

/* Landing Page Style */

.home_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("images/earth.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.home_text {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 15%;
  background: rgba(0, 0, 0, 0.76);
  border-radius: 2rem;
  padding: 2rem;
}

.home_text > * {
  width: fit-content;
}

.home_text > h1 {
  margin-bottom: 1rem;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_text > h2 {
  margin-bottom: 2rem;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_text > p {
  color: var(--white);
}

/* Who Am I Style */

.wai-section {
  display: flex;
  justify-content: space-around;
  background-image: url("images/topMtStHelens-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.wai-container {
  margin: 0 0 0 6rem;
  background-color: #ffffff8a;
  border-radius: 3rem;
  padding: 2rem;
}
.wai-section > img {
  margin: 0 4rem 0 0;
}

.wai-container > h2 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .wai-section {
    flex-direction: column;
  }
  .wai-container {
    margin: 4rem 6rem 0 6rem;
  }
}

/* Qualifications Style */

.qual-section {
  /*background-color: #53baff;*/
  background: linear-gradient(180deg, #53baff, #53baffbd);
}

.qual-section > h2 {
  margin: 0 8rem;
  padding: 8rem 0 2rem 0;
}

.qual-edu-section > *,
.qual-exp-section > * {
  margin: 0 16rem;
}

.qual-edu-section > h3,
.qual-exp-section > h3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.qual-edu-section > p,
.qual-exp-section > p {
  padding-bottom: 1rem;
}

.qual-edu-psu {
  background: #154734;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.qual-edu-psu > p,
.qual-edu-psu > h4,
.qual-edu-uw > p,
.qual-edu-uw > h4 {
  color: white;
}

.qual-edu-uw {
  background: linear-gradient(90deg, #4b2e83, #85754d, #b7a57a);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.qual-res {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qual-res-btn > a {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border: 0.1em solid black;
  border-radius: 0.15em;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.qual-res-btn > a:hover {
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .qual-edu-section > *,
  .qual-exp-section > * {
    margin: 0 4rem;
  }

  .qual-section > h2 {
    margin: 0 4rem;
    padding: 4rem 0 2rem 0;
    text-align: center;
  }
}

/* Projects Style */

.proj-section {
  background-color: #53baffbd;
  background: linear-gradient(180deg, #53baffbd, #53baff79);
  padding-bottom: 2rem;
}

.proj-section > h2 {
  margin: 0 8rem;
  padding: 8rem 0 2rem 0;
}

.proj-section > *,
.proj-section > * {
  margin: 0 16rem;
}
.proj-header > h3,
.proj-header > h3 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.proj-section > p,
.proj-section > p {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.proj-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proj-header > a {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border: 0.1em solid black;
  border-radius: 0.15em;
  text-decoration: none;
  color: black;
  cursor: pointer;
  height: fit-content;
}

.proj-header > a:hover {
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .proj-section > h2 {
    margin: 0 4rem;
    padding: 4rem 0 2rem 0;
    text-align: center;
  }

  .proj-section > *,
  .proj-section > * {
    margin: 0 4rem;
  }

  .proj-header {
    flex-direction: column;
  }
}

/* Contact Me Style */

.contact-section {
  background-color: #53baff79;
  background: linear-gradient(180deg, #53baff79, white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section > h2 {
  margin: 0 8rem;
  padding: 8rem 0 2rem 0;
}

.signup-form {
  border-top: 1px solid var(--gray);
  border-right: 2px solid var(--gray);
  border-left: 2px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  border-radius: 5px;

  padding: 4rem 10px;
  width: 90%;
  margin: 0 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.signup-form h2,
.signup-form p {
  margin: 0;
}

.signup-form h2 {
  padding-top: 10px;
}

.subhead {
  color: var(--gray);
  padding-bottom: 2rem;
}

.form-group input {
  width: 420px;
  height: 30px;
  border: 1px solid var(--gray);
  padding: 2px;
  margin: 10px;
  border-radius: 10rem;
  padding: 12px 20px;
}

.signup-form textarea {
  height: 70px;
  border: 1px solid var(--gray);
  padding: 2px;
  margin: 10px;
  border-radius: 10rem;
  padding: 12px 20px;
}

.box-label,
.radio-label-text {
  color: var(--black);
  font-weight: bolder;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.form-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px;
  width: 100%;
  border-top: 2px solid lightgray;
  border-right: 2px solid var(--gray);
  border-left: 2px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.primary-btn {
  background-color: var(--black);
  color: var(--white);
  margin-right: 2px;
}

.primary-btn:hover {
  background-color: var(--violetred);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--black);
  margin-left: 2px;
}

.secondary-btn:hover {
  background-color: lightgray;
}

.NASA {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8rem;
}

.NASA-text > h3 {
  padding-bottom: 2rem;
}
.NASA-text {
  padding-right: 2rem;
}

@media screen and (max-width: 1200px) {
  .NASA {
    flex-direction: column;
  }

  .NASA-text {
    padding-bottom: 2rem;
    padding-right: 0;
  }
}

/* Footer Style */

.footer-header {
  padding: 2rem 0 0rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  padding: 2rem 0;
}

.footer-nav > li > a {
  text-decoration: none;
  color: black;
  padding: 1rem 0;
}
